body,
html {
  height: 100%;
}

.checkbox_container {
}

.checkbox_name {
  color: #8055ff;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 4rem;
  border: 1px dashed #8055ff;
  box-sizing: border-box;
  border-radius: 2px;
  background: #e5e5e5;
}

.checkbox_field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 2rem;
}

label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 24px;
  font-size: 13px;
  top: 24px;
  margin-right: 10px;
}

input[type="checkbox"] {
  display: none;
}

label:before {
  content: "";
  display: inline-block;

  width: 14px;
  height: 14px;

  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: rgb(255, 255, 255);
  margin-left: 12px;
  margin-bottom: 14px;
  border: 1px solid #bad8f5;
}

.checkbox label:before {
  border-radius: 3px;
}

input[type="checkbox"]:checked + label:before {
  content: "\2713";
  font-size: 15px;
  background-color: #459df5;
  color: #ffffff;
  text-align: center;
  line-height: 15px;
  border: 1px solid #459df5;
}
