@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.searchbar__container {
}

.searchbar__name {
  color: #8055ff;
}

.searchbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22rem;
  height: 12rem;
  font-weight: normal;
  font-family: "Ubuntu";
  background: #e5e5e5;
  border: 0.0625rem dashed #8055ff;
  box-sizing: border-box;
  border-radius: 0.3125rem;
}



.searchbar__empty {
  display: flex;
  width: 16rem;
  height: 2rem;
  background: #ffffff;
  border: 0.0625rem solid #459df5;
  box-sizing: border-box;
  border-radius: 0.25rem;
  margin: 3rem 3rem 0;
}

.searchbar__empty__data {
  display: flex;
  width: 100%;
  align-items: center;
  color: #bad8f5;
  border-style: none;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.searchbar .searchbar__empty input::placeholder {
  color: black;
  color: #459df5;
  
}

.searchbar input::placeholder {
  color: black;
}

.searchbar__filled {
  display: flex;
  width: 16rem;
  height: 2rem;
  background: #ffffff;
  border: 1px solid #459df5;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 2rem 3rem 3rem;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.searchbar__filled__data {
  display: flex;
  width: 100%;
  align-items: center;
  border-style: none;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1rem;
  color: black;
  
}

.Ellipse {
  display: flex;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.Vector {
  display: flex;
  margin-left: auto;
  margin-right: 0.625rem;
}
