@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.input_container {
}

.input_name {
  color: #8055ff;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22rem;
  height: 25rem;
  border: 1px dashed #8055ff;
  border-radius: 0.25rem;
  background: #e5e5e5;
  box-sizing: border-box;
}

.input_window {
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: 2rem;
  font-size: 0.75rem;
  margin-bottom: 4rem;
}

.input_window_name {
  font-weight: normal;
  font-family: "Ubuntu";
  margin-bottom: 0.125rem;
}

.input_window_field {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 16rem;
}

.input_window_data {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-weight: normal;
  font-family: "Ubuntu";
  border: 1px solid;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
}



.empty_window .input_window_data {
  border-color: #459df5;
  color: #bad8f5;
  background: white;

}

.empty_window .input_window_data {
  color: #459df5;
}

.incorrect_window .input_window_data {
  border-color: #f53152;
  background: white;
 
}

.disabled_window .input_window_data {
  border-color: #459df5;
  background: #bad8f5;
}

.Lock {
  display: flex;
}

.X {
  display: flex;
}
