@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

.searchbar_container {
}

.searchbar_name {
  color: #8055ff;
}

.searchbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22rem;
  height: 12rem;
  font-weight: normal;
  font-family: "Ubuntu";
  background: #e5e5e5;
  border: 1px dashed #8055ff;
  box-sizing: border-box;
  border-radius: 5px;
}



.window_empty {
  display: flex;
  width: 16rem;
  height: 2rem;
  background: #ffffff;
  border: 1px solid #459df5;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.window_empty_data {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  color: #bad8f5;
  border-style: none;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.searchbar .window_empty input::placeholder {
  color: black;
  color: #459df5;
  
}

.searchbar input::placeholder {
  color: black;
}

.window_filled {
  display: flex;
  width: 16rem;
  height: 2rem;
  background: #ffffff;
  border: 1px solid #459df5;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.window_filled_data {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-style: none;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: black;
  
}

.Ellipse {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.Vector {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}
